@charset "UTF-8";

#best_board {
	justify-content: space-around;
}

#best_board_title {
	font-size: 30px;
	margin-top: 20px;
}

#search {
	margin-top: 60px;
}

#board_search {
	margin: auto;
}

#board {
	border-radius: 0px 0px 20px 20px;
	width: 300px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #ffffff;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
}

#board:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

#board:hover #board_title {
	color: #D95B96
}

#board_text {
	width: 250px;
	margin: auto;
}

#board_img {
	width: 300px;
	height: 200px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
}

#board_2 {
	height: 250px;
}

#board_title {
	margin-top: 10px;
	width: 250px;
	font-size: 24px;
	font-weight: 700;
	transition: 0.3s;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#board_profile {
	font-size: 15px;
	color: var(- -color-primary);
}

#board_content {
	font-size: 15px;
	margin-top: 20px;
	height: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	line-height: 1.45;
}

#profile_img {
	width: 30px;
	height: 30px;
	border-radius: 70%;
	overflow: hidden;
	object-fit: cover;
	margin-left: auto;
}

#user_id {
	font-size: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	//
}

#content_box_right {
	margin-left: 20px;
	border-radius: 20px;
}

#content_box_left {
	margin-right: 20px;
	border-radius: 20px;
}

#content_title {
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 20px;
}

.tab {
	margin-top: 50px;
	float: left;
	height: 290px;
}

.tabnav {
	font-size: 0;
}

.tabnav li {
	display: inline-block;
	height: 46px;
	text-align: center;
	width: 33%;
}

.tabnav li a.active {
	border-bottom: 4px solid #D95B96;
}

.tabnav li a {
	position: relative;
	display: block;
	background: #fff;
	color: #000;
	padding: 0 30px;
	line-height: 46px;
	text-decoration: none;
	font-size: 16px;
}

.tabnav li a:hover, .tabnav li a.active {
	background: #fff;
	color: #D95B96;
}

.tabcontent {
	padding: 20px;
	height: 244px;
	border-top: none;
}

/* 게시판 테이블 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.page-title {
	margin-bottom: 20px;
}

.page-title h3 {
	font-size: 28px;
	color: #333333;
	font-weight: 400;
	text-align: center;
}

.board-table {
	font-size: 13px;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.board-table a {
	color: #333;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.board-table a:hover {
	text-decoration: underline;
}

.board-table th {
	text-align: center;
}

.board-table .th-num {
	width: 100px;
	text-align: center;
}

.board-table .th-date {
	width: 200px;
}

.board-table th, .board-table td {
	padding: 14px 0;
}

.board-table tbody td {
	border-top: 1px solid #e7e7e7;
	text-align: center;
}

.board-table tbody th {
	padding-left: 28px;
	padding-right: 14px;
	border-top: 1px solid #e7e7e7;
	text-align: left;
}

.board-table tbody th p {
	display: none;
}

.btn {
	display: inline-block;
	padding: 0 30px;
	font-size: 15px;
	font-weight: 400;
	background: transparent;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-dark {
	background: #555;
	color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
	background: #373737;
	border-color: #373737;
	color: #fff;
}

.btn-dark {
	background: #555;
	color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
	background: #373737;
	border-color: #373737;
	color: #fff;
}

/* reset */
* {
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.container {
	margin: 0 auto;
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	margin: -1px;
	width: 1px;
	height: 1px;
}

#form_box {
	width: 900px;
	margin: auto;
}

#form_title {
	text-align: center;
	width: 900px;
	margin: auto;
	margin-top: 100px;
	font-size: 40px;
}

#btitle {
	width: 900px;
	height: 32px;
	font-size: 15px;
	border: 1;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: fff;
}

#bcontent {
	width: 900px;
	height: 300px;
	font-size: 15px;
	border: 1;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: fff;
}


#small_title{
	font-size:20px;
}
#writebtn{
	position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: #D95B96;
    color:white;
    margin-right:10px;
}
#writebtn:hover{
	letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}
#board_detail{
	width:900px;
	margin:auto;
	margin-top:50px;
}

#board_detail_title{
	font-size: 30px;
}
#board_detail_date{
	font-size: 14px;
	display: flex;
	align-items: flex-end;
}