/* .container{
	witdh:1170px;
	max-witdh:none !important;
}
.fixedCol{
	width: 250px;
	min-width: 250px;
	max-width: 250px;
}
table{
 width: 위드값;
 table-layout: fixed;
 } */
/* table tr td {
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 140px;
} */

